<label class="form-label" [for]="id">{{ label }}</label>
<mat-form-field>
  @if (mode === 'range') {
    <mat-date-range-input [formGroup]="form" [id]="id" [rangePicker]="picker">
      <input matStartDate formControlName="startDate" placeholder="Start date" />
      <input matEndDate formControlName="endDate" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  } @else {
    <input
      matInput
      [matDatepicker]="picker"
      [id]="id"
      [min]="minDate"
      [value]="value"
      [placeholder]="placeholder"
      (dateChange)="onInputChange($event)"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  }
</mat-form-field>
