<div class="dashboard-layout">
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="sidebar-logo">
        <img src="../../../assets/logo.png" alt="NASTE" />
        <span>NASTE</span>
      </div>
    </div>
    <div class="sidebar-nav">
      <div class="sidebar-section">
        @for (item of items; track $index) {
          <div
            [ngClass]="{ active: item.active }"
            [routerLink]="['/dashboard' + item.route]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
          >
            <span class="material-icons nav-icon">{{ item.icon }}</span>
            <span nav-text>{{ item.label }}</span>
          </div>
        }
      </div>
    </div>
    <div class="sidebar-user">
      <div class="divider"></div>
      <span class="sidebar-user__name"> {{ userData().userProfile?.name }}</span>
      <span class="sidebar-user__email">{{ userData().userProfile?.email }}</span>
      <app-button
        label="Cerrar sesión"
        icon="logout"
        id="btn-logout"
        (click)="openLogoutModal()"
      ></app-button>
    </div>
  </aside>

  <!-- Main content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
